@import "tailwindcss";

:root {
  --background: black;
  --foreground: #ededed;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

.header {
  background-color: #0e0e0e;
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  flex-direction: row;
}

.header__title {
  padding: 5px 20px;
  font-size: 32px;
  margin: 0;
  white-space: nowrap;
}

.header__link {
  padding: 3px 10px;
  margin: 12px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #888888;
}

.header__link:hover {
  background-color: #1e1e1e;
  color: #ededed;
  transition: background-color 0.2s ease, color 0.2s ease;
}
